h1 {
    font-size: 20px;
    color: white;
}

body {
    overflow-x: hidden;
}

.underNav {
    background-color: black;
    width: 100%;
}

.underNav2 {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.imageslider {
    width: 100%;
}

.About {
    height: 400px;
    width: 100%;
    border: solid 1px black;
    background-color: white;
}

.Challenge {
    height: 400px;
    width: 100%;
    border: solid 1px black;
    background-color: white;
}

.courseSelection {
    height: 400px;
    width: 100%;
    border: solid 1px black;
    background-color: white;
}

ul li {
    background-color: black;
    display: inline;
}

ul li a {
    color: white;
}

.satSub {
    padding: 10px;
    border: 1px solid black;
    width: 106px;
    background-color: white;
    margin-top: 5px;
    height: 110px;
    border-radius: 50%;
}

.satSub h1 {
    color: black;
    font-size: 20px;
}

.satSub:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.box {
    padding: 20px;
}

.box:hover {
    background-color: grey;
}

.news {
    width: 100%;
    height: 300px;
    background-color: white;
    overflow: scroll;
    overflow-x: hidden;
    border: solid black 1px;
}

.newsletters {
    background-color: white;
    height: 400px;
    width: 100%;
}

footer {
    /*    height: 300px;*/
    width: 100%;
    padding-bottom: 25px;
    background-color: grey;
}

.blackNav {
    position: fixed;
    z-index: 1;
    width: 100%;
}


/*for aboutUs*/

.layer {
    height: 500px;
    width: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
}

.AboutUs {
    height: 400px;
    width: 100%;
    background-color: white;
}

.Teachers {
    padding: 20px;
    width: 100%;
    height: 120px;
    background-color: black;
}


/*David's stuff*/

.* {
    text-align: center;
}

tab1 {
    padding-left: 4em;
}

a.anchormargin {
    top: -54px;
    display: block;
    position: relative;
    visibility: hidden;
}


/*footer {
background-color: steelblue;
width: 100%;
margin-top:50px; 
padding:25px;
color: black;
}*/

p {
    font-family: monospace;
}

legend {
    color: white;
    font-size: 25px;
    text-align: center;
}


/* Grow hover effect*/

.hvr-highlight:hover {
    background-color: gray;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}


/*The ones below are for certain background images.*/


/*This image is free*/

.librarybookshelf {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/librarybookshelf.jpeg");
    background-size: contain;
    background-position: center;
    z-index: -1;
}


/*This image is free*/

.textbook {
    text-align: center;
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/textbook.jpg");
    margin-bottom: 30px;
    padding: 20px;
}

.textbook2 {
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/textbook.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.study {
    padding: 30px;
    color: white;
    font-size: 35px;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://fthmb.tqn.com/lS3RIoT7XHd3cMw7V_FFbHCHtWw=/1500x1000/filters:fill(auto,1)/about/StudyingAtNight-58c2c2635f9b58af5ca0464b.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}


/*This image is free*/

.emails {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("../images/email.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 100px;
    padding-top: 100px;
    z-index: -1;
    color: white;
    margin-bottom: 30px;
}

.courses {
    text-align: center;
    color: white;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("http://mycollegeguide.org/blog/wp-content/uploads/2011/10/SAT-prep.jpg");
    margin-bottom: 30px;
    background-position: center;
    background-size: cover;
    padding: 20px;
}


/*This is the title navy blue sections*/

.test .title-1 {
    background-color: navy;
    color: white;
    padding: 1px;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -15px;
    border: 3px solid navy;
    border-radius: 1px;
}

.title-blue {
    background-color: #3585ED;
    color: white;
    padding: 1px;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -15px;
    border-radius: 4px;
}

.title-red {
    background-color: #E21522;
    color: white;
    padding: 1px;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -15px;
    border-radius: 4px;
}

.title-orange {
    background-color: darkorange;
    color: white;
    padding: 1px;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -15px;
    border-radius: 4px;
}

.title-green {
    background-color: #3BB820;
    color: white;
    padding: 1px;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -15px;
    border-radius: 4px;
}


/* This is for the columns that are on top*/


/*.test {
border: 3px solid black;
border-radius: 3px;
}*/

.option {
    border: solid 3px black;
    border-radius: 8px;
}


/*This is for the other options below */

.option .title-1 {
    background-color: navy;
    color: white;
    border: 3px solid navy;
    border-radius: 3px;
    height: 200%;
}


/*This is the make a few buttons lower*/

.lowerbutton {
    margin-top: 30px;
}


/*contact page css*/

.red {
    color: red;
}

.form-area {
    background-color: #FAFAFA;
    padding: 10px 40px 60px;
    border: 1px solid GREY;
}

.otherInfo {
    border-top: 2px solid GREY;
    border-right: 2px solid GREY;
    border-bottom: 2px solid GREY;
    padding-top: 40px;
    font-size: 14px;
}

.hideme {
    opacity: 0;
}

.up {
    width: 0px;
    height: 0px;
    border-style: inset;
    border-width: 0 110px 100px 110px;
    float: 0 auto;
    transform: rotate(180deg);
    display: block;
}

.up1 {
    border-color: transparent transparent #4E5FEB transparent;
}

.up2 {
    border-color: transparent transparent #D22532 transparent;
}

.up3 {
    border-color: transparent transparent #D27F25 transparent;
}

.up4 {
    border-color: transparent transparent #41AC30 transparent;
}

.up span {
    text-align: center;
    left: -47px;
    top: 25px;
    position: relative;
    width: 93px;
    height: 63px;
    margin: 0px;
    transform: rotate(180deg);
    display: inline-block;
    text-decoration: none;
}


/*for drop downs*/

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}


/*this part is for flipping cards*/

#f1_container {
    position: relative;
    margin: 10px auto;
    width: 300px;
    height: 240px;
    z-index: 1;
}

#f1_container {
    perspective: 1000;
    width: 20%;
}

#f1_card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.3s linear;
}

#f2_card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s linear;
}

#f1_container:hover #f1_card {
    transform: rotateY(180deg);
    box-shadow: -5px 5px 5px #aaa;
}

#f1_container:focus #f1_card {
    transform: rotateY(180deg);
    box-shadow: -5px 5px 5px #aaa;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.face.back,
.face.back:focus {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 10px;
    color: white;
    text-align: center;
    background-color: white;
}


/*this is for courses*/

.satCourses {
    margin-top: 30px;
    height: 300px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/class.jpg");
    background-size: cover;
}


/*course descriptions*/

.classJumbo {
    height: 150px;
    width: 100%;
    background-color: #3585ED;
}

.backOfDes {
    height: 600px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/class.jpg");
}

.lay {
    height: 400px;
    background-color: rgba(0, 0, 0, 0.9);
}


/*for tutoring page*/

.tutoringJumbo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("https://static.pexels.com/photos/48126/books-education-school-literature-48126.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.tutoringSections {
    overflow: auto;
    padding: 10px;
}

.tutoringSections col-md-6 {
    width: 50%;
    height: 300px;
}

.tutoringSections col-sm-12 {
    width: 100%;
    height: 300px;
}

.textSec {
    font-size: 15px;
    margin-top: 20px;
}

.textSec h1 {
    font-size: 35px;
    color: black;
    text-align: center;
}

.imgSec {
    /*background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));*/
    background-image: url("http://www.teachmetutor.com/images/purestock_1574r-0545a.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;
    width: 100%;
}

.imgSec2 {
    /*background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));*/
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;
    width: 50%;
}

.score {
    background-color: #D5D1BB;
    overflow: auto;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid black;
}

.score h1 {
    color: black;
    font-size: 15px;
}

.priceTag {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #C9C7C7;
    padding: 30px;
    border-radius: 5px;
}

.tutorPackage {
    padding: 40px 20px;
    background-color: #F7DB86;
    margin-top: 30px;
}


/*bootstrap code*/

.navBarRow {
    margin-right: -15px;
    margin-left: -15px;
    padding-top: 5px;
    padding-left: 5px;
    background-color: black;
    border-top-color: #000;
    border-width: 30px;
}

.mobileScale {
    padding-left: 30%;
}

.padding-custom {
    padding-bottom: 25px;
}

.subjectBtn {
    display: block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid black;
}

.center-bio {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}

.custom i {
    color: white
}

.custom li {
    color: white;
}

.custom p {
    color: white;
}

.custom:hover {
    background-color: #9C9C9C;
}

.text-center {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}


/*this is for bottom nav*/

#footer {
    text-align: center;
    text-decoration-style: black;
}

.custom {
    padding: 10px;
}

.custom i {
    color: white
}

.custom a {
    color: white;
}

.custom:hover {
    background-color: #9C9C9C;
}

.text-center {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

@media screen and (min-width: 480px) {
    #footer {
        display: block;
    }
}

@media (min-width: 781px) {
    #footer {
        display: none;
    }
}

@media screen and (min-width: 780px) {
    #footer {
        display: hide;
    }
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}


        /*this is for bottom nav*/
        #footer {
            text-align: center;
            align-content: center;
            text-decoration-style: black;
            color: black;
        }
        @media (min-width: 300px) and (max-width: 780px) {
            #footer {
                display: block;
                color: black;
            }
        }
        @media (min-width: 781px) {
            #footer {
                display: none;
            }
            .item {
                height: 500px;
                width: 100%;
                background-size: contain;
            }
            .item img {
                top: 0;
                left: 0;
                min-width: 100%;
                height: 100%;
            }
        }
        a {
            text-decoration: none;
        }
        a:hover {
            color: white;
            text-decoration: none;
            cursor: pointer;
        }